@import "../../css/colors.css";

.light-bulb {
    width: 2.4rem;
    height: 2rem;
    padding: 0rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
    transition: 0.2s ease-out;
    box-sizing: border-box;
}

.light-bulb:hover {
    transform: scale(1.4);
}