@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

$action-button-size: 2.75rem;

.floater-layout{
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    border-style: solid;
    border: $motion-primary;
}
.outline{
    /* border-width: 1px; */
    border: #edf2f7;
    border-style: solid;
}

.floater-header{
    display: flex;
    justify-content: flex-end;
}



.body{
    display: flex;
    flex-direction: row;
}

.select-action-container{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    position: relative;
}

.action-button{
    width: $action-button-size;
    height: $action-button-size;
    transition: transform, box-shadow 0.5s;
    border-radius: 100%;
    margin: 0.3rem;
    cursor: pointer;
}

.action-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 4px $motion-transparent;
}


.close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;  /* Mask the icon animation */
    /* background-color: $ui-black-transparent; */
    background-color: $motion-primary;
    border-radius: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
    margin: 0.25rem;

    position: absolute;
    top: -14px;
    right: -14px;

}

.close-icon {
    position: relative;
    margin: 0.25rem;
    user-select: none;
    transform-origin: 50%;
    transform: rotate(45deg);
}

.small {
    width: 0.825rem;
    height: 0.825rem;
    background-color: $motion-primary;
    color: $ui-white;
}

.hint-message{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    max-width: 250px;
    padding: 0.75rem;
    text-align: center;
}

.msg-hint-icon{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: baseline;
    margin-top: -8px;
}

.hint-message>h3{
    /* line-height: 30px;  */
    margin: 0px;
  }

.step-by-step-image{
    max-width: 466px;
}

.hint-control-step-guide{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    max-width: 490px;
    padding: 0.75rem;
    text-align: center;
}